* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    padding: 70px;
}

.container {
    width: 70%;
    border: solid 1px #fff;
    margin: 0 auto;
    padding: 10px;

    text-align: center;
}

button {
    padding: .4rem;
    font-size: 1.1rem;
    margin-right: .4rem;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 3px;
}