* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: slategray;
    height: 25em;
    width: 30em;
    border: 3px dashed whitesmoke;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

#timer {
    color: darkkhaki;
}